@{
    Layout = null;
}


<html>
<head>
    <title></title>
</head>
<body>
    <div class="main">
        
        <div id="chatBody">
            <div id="main_div">
                <div id="chatroom" style="position:absolute;left:250px;top:0px; width:800px;height:400px; overflow:auto"></div>

                <div id="inputForm">
                    <input type="text" id="message" style="position:absolute; width:700px;height:40px;left:250px;top:460px" />
                    <input type="button" id="sendmessage" value="send" style="position:absolute; width:100px;height:40px;left:950px;top:460px" />
                </div>
            </div>
            <div style="background-color:antiquewhite; position:absolute;width:250px;height:500px; left:0px;top:0px">
                <div id="chatusers">
                    <div id="header"></div>
                    <p style="color:red"><b>Active Users...</b></p>

                </div>
                <div id="allrooms">
                    <p style="color:red"><b>Rooms</b></p>
                    <div id="rooms" style="overflow:auto">

                    </div>
                    <input type="button" style="width:250px" id="create" value="Create Room" />
                    
                </div>
            </div>
        </div>

       
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2-preview1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>

</body>
</html>