@{
    Layout = null;
}


<html>
<head>
    <title></title>
</head>
<body>
    <input type="hidden" id="username" />
    <div class="main">

        <div id="chatBody">
            <div id="main_div">
                <div id="chatroom" style="position:absolute;left:250px;top:0px; width:800px;height:400px; overflow:auto">
                    <div id="joindiv" style="text-align:center">
                        <input type="button" value="Join" id="join" />
                        <input type="hidden" id="joinroom" />
                    </div>
                </div>

                <div id="inputForm">
                    <input type="text" id="message" style="position:absolute; width:700px;height:40px;left:250px;top:460px" />
                    <input type="button" id="sendmessage" value="send" style="position:absolute; width:100px;height:40px;left:950px;top:460px" />
                </div>
            </div>
            <div style="background-color:antiquewhite; position:absolute;width:250px;height:500px; left:0px;top:0px; overflow:auto">
                <div id="chatusers">
                    <div id="header"></div>
                    <p style="color:red"><b>Active Users...</b></p>

                </div>
                <div id="allrooms">
                    <p id="roomvalidation" style="color:red">Room already exists!</p>
                    <div id="creatingdiv">
                        <input type="button" style="width:200px" id="create" value="Create Room" />
                    </div>
                    <div style="overflow:auto">
                        <div id="joinedrooms">
                            <p style="color:red">Joined Rooms</p>
                        </div>
                        <div id="rooms">
                            <p style="color:red">Rooms</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2-preview1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>

</body>
</html>