
@{
    Layout = null;
}
<html>
<body>
    <h2>Login</h2>

    <div id="loginBlock">
        Enter login:<br />
        <input id="txtUserName" type="text" />
        <input id="btnLogin" type="button" value="Sing In" />
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2-preview1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>
</body>
</html>