
@{
    Layout = null;
}
<html>
<body>


    <div id="loginBlock">
        <h2>Login</h2>
        <p id="loginvalidation" style="color:red"></p>
        Username:<br />
        <input id="txtUserName" type="text" /><br />
        Password:<br />
        <input id="password" type="password" /><br />
        <input id="btnLogin" type="button" value="Sing In" />
    </div>
    <hr />
    <div id="registrationform">
        <h2>or Register</h2>
        <p id="validation" style="color:red"></p>
        Username:<br />
        <input id="r_username" type="text" placeholder="less than 20 characters" /><br />
        Password:<br />
        <input id="r_password" type="password" placeholder="more than 6 characters" /><br />
        eMail:<br />
        <input id="r_email" type="email" placeholder="default@example.com" /><br />
        <input type="button" id="submitregistration" value="Register" /><br />

    </div>
    <h4 id="activate">Activate your account!</h4>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2-preview1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>
</body>
</html>