
@{
    Layout = null;
}
<html>
<body>
    

    <div id="loginBlock">
        <h2>Login</h2>
        Username:<br />
        <input id="txtUserName" type="text" /><br />
        Password:<br />
        <input id="password" type="password"  /><br />
        <input id="btnLogin" type="button" value="Sing In" />
    </div>
    <hr />
    <div id="registerBlock">
        <h2>or Register</h2>
        Username:<br />
        <input id="r_username" type="text" /><br />
        Password:<br />
        <input id="r_password" type="password" /><br />
        eMail:<br />
        <input id="r_email" type="text" /><br />
        <input id="register" type="button" value="Submit" /><br />
        <a href="https://mail.google.com" style="visibility:hidden" id="activate">Activate yout account!</a>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2-preview1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>
</body>
</html>