
@{
    Layout = null;
}

<html>
<head>
    <title></title>
</head>
<body>
    <div class="main">


        <input type="hidden" id="group" value=@ViewData["roomname"] />
        <input type="hidden" id="username" value="@ViewData["username"]" />
        <div id="chatBody">
            <div id="main_div">
                <div id="chatroom" style="position:absolute;left:250px;top:0px; width:800px;height:400px; overflow:auto"></div>

                <div id="inputForm">
                    <input type="text" id="groupmessage" style="position:absolute; width:700px;height:40px;left:250px;top:460px" />
                    <input type="button" id="sendgroupmessage" value="send" style="position:absolute; width:100px;height:40px;left:950px;top:460px" />
                </div>
            </div>
            <div style="background-color:antiquewhite; position:absolute;width:250px;height:500px; left:0px;top:0px;overflow:auto">
                <div id="members">
                    <div id="header">
                        
                            <b title="@ViewData["roomtitle"]"> Room  @ViewData["roomname"]</b>
                            <p id="toGeneral" style="color:darkgray">#general</p>
                       
                    </div>
                    <p style="color:red"><b>Members</b></p>

                </div>
                <p id="out" style="color:darkgray">#out</p>
            </div>
        </div>


    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2-preview1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>


</body>
</html>

